/* CSS RESET 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.HomePage {
  padding: 10% 0 0;
}

/* HEADER */
.Header1 {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 2% 0;
  background-color: rgb(0,7,20);
}

.header-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  /* border: 1px solid red; */
  flex: 1;
}

h1 {
  /* border: 1px solid red; */
  font-family: 'Josefin Sans Variable', sans-serif;
  color: rgb(225,255,0);
  font-size: 4rem;
  text-align: center;
  width: auto;
  white-space: nowrap;
}

.nav-container {
  /* border: 1px solid red; */
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.hamburger-container {
  display: none;
}

.socials {
  /* border: 1px solid red; */
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.onlyfans-social { /* one-off icon since FontAwesome does not provide icon for OnlyFans - also applies to icon in Footer */
  font-size: 1.4rem;
}

.onlyfans-social:hover {
  transform: scale(1.2);
  transition: all ease 500ms;
  color: rgb(181,205,0);
}

/* MERCH PREVIEW */
.MerchPreview {
  margin: 8px auto;
  padding: 1% 0 0;
  background-color: #d3d3d3;
  width: 80%;
}

.mobile-merch-title {
  display: none;
}

.merch-title {
  font-family: 'Josefin Sans Variable', sans-serif;
  font-size: 6rem;
  font-weight: bold;
  color: #000714;
  width: 96%;
  position: relative;
  z-index: 1;
  margin: 0 auto -3.3vh;
}

.merchImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 8%;
}

.mobile-gallery-container {
  display: none;
}

.gallery-container {
  flex: 1;
  background-color: #cde800;
}

.image-gallery-image {
  cursor: pointer;
}

.link-button-container {
  display: flex;
  justify-content: flex-end;
  width: 96%;
  margin: 0 auto;
  padding-bottom: 0;
}

/* YOUTUBE PREVIEW */
.YouTubePreview {
  margin: 2% auto;
  width: 100%;
  background-color: #000714;
  padding: 1px 0; /* prevents margin collapsing */
}

.youtube-vids-container {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin: 4px auto 0;
}

.LatestVideo {
  background-color: #cde800;
  padding: 1%;
  padding-bottom: 0;
  border-radius: 10px;
}

.video-title {
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #000714;
  margin: 6px 0 10px;
}

.LatestShorts {
  background-color: #cde800;
  padding: 1%;
  padding-bottom: 0;
  border-radius: 10px;
}

.shorts-title {
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #000714;
  margin: 6px 0 10px;
}

.shorts-container {
  display: flex;
  gap: 48px;
}

.links-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin: 8px auto 15px; /* 15px to account for 1px of padding on parent elements to prevent margin collapsing */
}

.links-separator {
  min-height: 100%;
  max-height: 100vh;
  margin: 0;
  color: #d3d3d3;
}

/* PATREON PREVIEW */
.PatreonPreview {
  width: 80%;
  margin: 0 auto 36px;
  background-color: #d3d3d3;
  padding: 1px 0; /* prevents margin collapsing */
}

.patreon-subtitle {
  font-family: 'Josefin Sans Variable', sans-serif; 
  font-size: 3rem;
  font-style: italic;
  text-align: center;
}

.patreon-image-container {
  display: flex;
  justify-content: space-evenly;
  margin: 24px auto 0;
  gap: 32px;
}

.patreon-image-background {
  padding: 16px;
  background-color: #cde800;
  border-radius: 10px;
}

.patreon-img {
  box-shadow: 0 0 8px 4px rgb(100, 100, 100);
  height: 225px;
  width: 400px;
}

.patreon-link {
  text-align: center;
  margin: 8px auto 15px; /* 15px to account for 1px of padding on parent elements to prevent margin collapsing */
}

/* ONLYFANS PREVIEW */
.OnlyfansPreview {
  background-color: #000714;
  margin-bottom: 24px;
  padding: 1px 0; /* prevents margin collapsing */
}

.onlyfans-subtitle {
  font-family: 'Josefin Sans Variable', sans-serif;
  color: #d3d3d3;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  margin: 24px auto;
}

.onlyfans-container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.onlyfans-img-container {
  padding: 16px;
  background-color: #cde800;
  border-radius: 10px;
}

.onlyfans-text-container {
  width: 30%;
  margin: auto 0;
}

.onlyfans-text {
  color: #d3d3d3;
  font-family: 'Josefin Sans Variable', sans-serif;  
  font-size: 3rem;
  text-align: center;
}

.onlyfans-text-italic {
  color: #d3d3d3;
  font-family: 'Josefin Sans Variable', sans-serif;
  font-size: 3rem;
  text-align: center;
  font-style: italic;
  margin-top: 48px;
}

.onlyfans-link {
  text-align: center;
  margin: 8px auto 15px; /* 15px to account for 1px of padding on parent elements to prevent margin collapsing */
}

/* FOOTER */
.Footer {
  width: 100%;
  padding: 2% 0;
  background-color: rgb(0,7,20);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Footer h2 {
  font-family: 'Josefin Sans Variable', sans-serif;
  color: rgb(225,255,0);
  font-size: 3rem;
  text-align: center;
}

.footer-socials-container {
  width: 30%;
}

.footer-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: rgb(225,255,0);
  border-bottom: 1px solid rgb(255, 255, 0);
  width: fit-content;
  margin: 0 auto 16px;
  padding: 0 0 4px;
}

.mobile-footer-title {
  display: none;
}

.footer-socials {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 1536px) {
  /* HEADER */
  .Header1 {
    padding: 3.5% 0;
  }

  .header-wrapper {
    width: 100%;
  }

  h1 {
    font-size: 3rem;
  }

  .socials {
    width: 100%;
  }

  /* MERCH PREVIEW */
  .MerchPreview {
    margin-top: 6vh;
  }

  .merch-container {
    height: 510px;
    margin: 0 auto;
  }

  .img-container {
    flex: 1;
  }

  .image-gallery-image {
    height: 510px;
  }

  /* YOUTUBE PREVIEW */
  .youtube-vids-container {
    gap: 24px;
  }

  .shorts-container {
    gap: 24px;
  }

  /* FOOTER */
  .Footer {
    padding: 3.5% 0;
    background-color: rgb(0,7,20);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer-title {
    font-size: 2.2rem;
  }

  .footer-socials-container {
    width: 40%;
    display: block;
  }

  .footer-subtitle {
    text-align: center;
    font-size: 1.2rem;
  }

  .footer-socials {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  /* HEADER */
  h1 {
    font-size: 2.2rem;
  }
  
  /* MERCH PREVIEW */
  .MerchPreview {
    margin-top: 5vh;
  }

  .merch-title {
    display: none;
  }

  .mobile-merch-title {
    display: block;
    width: max-content;
    margin: 2vh auto;
    border-bottom: 2px solid #000714;
    font-family: 'Josefin Sans Variable', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
  }
}

@media (max-width: 900px) {
  /* HEADER */
  .nav-container {
    flex-flow: column nowrap;
    gap: 16px;
    align-items: center;
  }

  /* MERCH PREVIEW */
  .MerchPreview {
    margin-top: 6vh;
    width: 90%;
  }

  .merch-container {
    margin: 3vh auto -1.4vh;
    height: auto;
  }

  .img-container {
    display: none;
  }

  .gallery-container {
    display: none;
  }

  .mobile-gallery-container {
    display: block;
    width: 100%;
    background-color: #cde800;
  }

  .image-gallery-image {
    height: 400px;
  }

  /* FOOTER */
  .Footer {
    flex-direction: column;
  }

  .footer-title {
    display: none;
  }

  .footer-subtitle {
    display: none;
  }

  .mobile-footer-title {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: rgb(225,255,0);
    border-bottom: 1px solid rgb(255, 255, 0);
    width: fit-content;
    margin: 0 auto 16px;
    padding: 0 0 4px;
  }

  .footer-socials-container {
    width: 60%;
  }
}

@media (max-width: 600px) {
  /* HEADER */
  .header-wrapper {
    display: block;
  }

  .nav-container {
    display: none;
  }

  /* HAMBURGER MENU */
  :root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: rgb(225,255,0);
    --background: rgb(0,7,20);
    --hamburger-margin-top: 64px;
    --hamburger-margin-right: 20px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

  .hamburger-container {
    display: block;
    width: max-content;
    margin: 16px auto 0;
  }

  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    /* 1.41421356237 = square root of 2 */

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    z-index: 1000;
    cursor: pointer;
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px; /* for pillow shape */
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .hamburger-menu:has(input:checked)::before {
    /* has property - IF .hamburger-menu has an input inside of it that is checked, THEN apply this styling to the ::before element */
    rotate: 45deg;
    width: var(--x-width);
    translate: 7px calc(var(--bar-height) / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 7px calc(var(--bar-height) / 2);
  }

  .mobile-nav {
    position: absolute;
    background-color: #d3d3d3;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
    transition: opacity var(--animation-timing);
  }

  .mobile-nav-container {
    width: 50%;
    margin: 18vh auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-nav.visible {
    opacity: 1;
  }

  .no-scroll {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
  }

  /* MERCH PREVIEW */
  .MerchPreview {
    margin-top: 12vh;
  }

  /* FOOTER */
  .footer-socials-container {
    width: 90vw;
  }

  .mobile-footer-title {
    font-size: 1.4rem;
  }
}

